body {
	  font-family: 'Quattrocento Sans', sans-serif;
}

/*#homepage {
      	   text-align: center;
      	   color: white;
}*/

/* navbar css */

#bs-example-navbar-collapse-1 {
      background: #57bb89;
      text-align: center;
      margin: -15px;
      font-size: 16px;
}

.navbar-custom .navbar-nav > li > a {
    color:white;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: white;
}

.navbar-custom .navbar-brand {
    color:white;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus { 
	text-decoration: none; 
	color: #f3d46f; 
	background: none;
}

/* navbar dropdown css */
.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
	clear: both;
	color: #f3d46f;
}

.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    text-decoration: none; 
	color: #57bb89; 
}
